# Ignore the build directory completely
/build/
/build_*/

# Visual Studio files solution/project and build files
*.sln
*.ncb
*.suo
*.vcproj*
Debug
Release

# CMake build files
CMakeLocal.txt
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# KDevelop project files
*.kdev4
